/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .title {
  background-color: gray;
  width: 100%;
  height: 200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 42px;
  font-family: "ArchyEDT-Bold", sans-serif;
}

.container {
  width: 1800px;
  margin: 0 auto;
  margin-top: 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 110px;
}
.container .family-card {
  border: 1px solid black;
  border-radius: 5px;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  gap: 60px;
  -webkit-box-shadow: 0px 5px 20px -4px black;
          box-shadow: 0px 5px 20px -4px black;
}
.container .family-card h1 {
  font-size: 30px;
}
.container .family-card p {
  font-size: 20px;
}
.container .family-card .family-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.container .family-card .family-images img {
  width: 250px;
  height: 250px;
}
.container .family-card .image1 {
  width: 1060px;
  height: 550px;
  rotate: 9deg;
  -webkit-transition: 1s;
  transition: 1s;
}
.container .family-card .image1:hover {
  -webkit-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: 1s;
  transition: 1s;
}
.container .family-card .image2 {
  width: 1060px;
  height: 550px;
  rotate: -12deg;
  -webkit-transition: 1s;
  transition: 1s;
}
.container .family-card .image2:hover {
  -webkit-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: 1s;
  transition: 1s;
}
.container .family-card .image3 {
  width: 1060px;
  height: 550px;
  rotate: 15deg;
  -webkit-transition: 1s;
  transition: 1s;
}
.container .family-card .image3:hover {
  -webkit-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: 1s;
  transition: 1s;
}
.container .family-card .image4 {
  width: 1060px;
  height: 550px;
  rotate: -7deg;
  -webkit-transition: 1s;
  transition: 1s;
}
.container .family-card .image4:hover {
  -webkit-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: 1s;
  transition: 1s;
}
.container .family-card .image5 {
  width: 1060px;
  height: 550px;
  rotate: 16deg;
  -webkit-transition: 1s;
  transition: 1s;
}
.container .family-card .image5:hover {
  -webkit-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: 1s;
  transition: 1s;
}
.container .family-card .image6 {
  width: 1060px;
  height: 550px;
  rotate: -14deg;
  -webkit-transition: 1s;
  transition: 1s;
}
.container .family-card .image6:hover {
  -webkit-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: 1s;
  transition: 1s;
}
.container .user-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
  border: 1px solid black;
  border-radius: 7px;
  gap: 100px;
  -webkit-box-shadow: 0px 5px 20px -4px black;
          box-shadow: 0px 5px 20px -4px black;
}
.container .user-1 .user-1-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 50px;
}
.container .user-1 .user-1-info h1 {
  font-size: 30px;
  text-decoration: underline;
  font-weight: 700;
}
.container .user-1 .user-1-info p {
  width: 850px;
  font-size: 24px;
}
.container .user-1 .user-1-img .image1 {
  width: 229px;
  height: 229px;
  margin-bottom: 188px;
  rotate: 15deg;
  -webkit-transition: 1s;
  transition: 1s;
}
.container .user-1 .user-1-img .image1:hover {
  -webkit-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: 1s;
  transition: 1s;
}
.container .user-1 .user-1-img .image2 {
  width: 229px;
  height: 229px;
  rotate: -15deg;
  -webkit-transition: 1s;
  transition: 1s;
}
.container .user-1 .user-1-img .image2:hover {
  -webkit-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: 1s;
  transition: 1s;
}
.container .user-1 .user-1-img .image3 {
  width: 229px;
  height: 229px;
  margin-bottom: 188px;
  rotate: 12deg;
  -webkit-transition: 1s;
  transition: 1s;
}
.container .user-1 .user-1-img .image3:hover {
  -webkit-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: 1s;
  transition: 1s;
}

footer {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: green;
  margin-top: 108px;
  font-size: 22px;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 1850px) {
  .container .family-card {
    width: 1500px;
  }
  .container .family-card .family-images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .user-1 {
    width: 1600px;
  }
  .container .user-1 .user-1-info {
    gap: 95px;
  }
  .container .user-1-img {
    height: 650px;
  }
}
@media (max-width: 1800px) {
  .container {
    width: 1700px;
  }
}
@media (max-width: 1700px) {
  .container {
    width: 1500px;
  }
  .container .family-card {
    width: 1300px;
    gap: 100px;
  }
  .container .user-1 {
    width: 1390px;
  }
  .container .user-1 .user-1-info p {
    width: 700px;
  }
  .container .user-1 .user-1-img {
    width: 490px;
  }
}
@media (max-width: 1500px) {
  .container {
    width: 1300px;
  }
  .container .family-card {
    width: 1240px;
  }
  .container .family-card .family-image {
    width: 1000px;
  }
  .container .user-1 {
    width: 1240px;
  }
  .container .user-1 .user-1-info p {
    width: 550px;
  }
  .container .user-1 .user-1-img {
    width: 490px;
  }
}
@media (max-width: 1300px) {
  .container {
    width: 1000px;
  }
  .container .family-card {
    width: 933px;
  }
  .container .family-card .family-image {
    width: 800px;
  }
  .container .user-1 {
    width: 797px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .user-1 .user-1-info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .user-1 .user-1-info p {
    width: 690px;
  }
  .container .user-1 .user-1-img {
    width: 695px;
    height: 450px;
  }
}
@media (max-width: 1000px) {
  .container {
    width: 700px;
  }
  .container .family-card {
    width: 700px;
  }
  .container .family-card .family-image {
    width: 600px;
  }
  .container .user-1 {
    width: 700px;
  }
  .container .user-1 .user-1-info p {
    width: 598px;
  }
  .container .user-1 .user-1-img {
    width: 598px;
    height: 400px;
  }
  .container .user-1 .user-1-img .image1 {
    width: 190px;
    height: 190px;
  }
  .container .user-1 .user-1-img .image2 {
    width: 190px;
    height: 190px;
  }
  .container .user-1 .user-1-img .image3 {
    width: 190px;
    height: 190px;
  }
}
@media (max-width: 800px) {
  .container {
    width: 450px;
  }
  .container .family-card {
    width: 450px;
  }
  .container .family-card .family-image {
    width: 350px;
  }
  .container .user-1 {
    width: 450px;
  }
  .container .user-1 .user-1-info p {
    width: 348px;
  }
  .container .user-1 .user-1-img {
    width: 348px;
    height: 310px;
  }
  .container .user-1 .user-1-img .image1 {
    width: 110px;
    height: 110px;
  }
  .container .user-1 .user-1-img .image2 {
    width: 110px;
    height: 110px;
  }
  .container .user-1 .user-1-img .image3 {
    width: 110px;
    height: 110px;
  }
}
@media (max-width: 500px) {
  .container {
    width: 300px;
  }
  .container .family-card {
    width: 300px;
  }
  .container .family-card .family-image {
    width: 250px;
  }
  .container .user-1 {
    width: 300px;
  }
  .container .user-1 .user-1-info p {
    width: 200px;
    font-size: 19px;
  }
  .container .user-1 .user-1-img {
    width: 200px;
    height: 222px;
  }
  .container .user-1 .user-1-img .image1 {
    width: 200px;
    height: 200px;
  }
  .container .user-1 .user-1-img .image2 {
    display: none;
  }
  .container .user-1 .user-1-img .image3 {
    display: none;
  }
}/*# sourceMappingURL=global.css.map */